body {
  min-height: 1000px;
}


.navbar-static-top {
  margin-bottom: 19px;
  background-color: #000000;
}
.navbar-default{
	border-color:black;
}
.navbar-default .navbar-brand {
    color: #FFF;
}


/*This is for when the mouse is hoverin over it*/
.navbar-default .navbar-brand:hover {
    color: #CFF5F7;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    background-color: #fff !important;
}

.navbar-toggle{
	border-color: #FFF !important;
}
.navbar-text
{
	height:50px;padding:15px 15px;font-size:18px;line-height:20px;
	color:white !important;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}


@font-face {
    font-family: "Custom Font Logo";
    src: url(leaguegothic-condensed-italic-webfont.ttf) format("truetype");
}
.customfont-logo { 
    font-family: "Custom Font Logo", Verdana, Tahoma;
    font-size: 40px;
}

@font-face {
    font-family: "Custom Font";
    src: url(leaguegothic-regular-webfont.ttf) format("truetype");
}
.customfont { 
    font-family: "Custom Font", Verdana, Tahoma;
    font-size: 28px;
}