{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Adding a title -->

{% if title %}
<!-- The title comes from views -->
<div class='row'>
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class= {% if text_center %}"text-center"{% endif %}>{{ title }}</h1>
	</div>
</div>
{% endif %}

<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<form method="POST" action="">{% csrf_token %}
			{{ form|crispy }}

			<input class="btn btn-default" type= 'submit' value='Sign Up'>
		</form>
	</div>
</div>
{% endblock %}