.test-align-center{
	text-align:center;
}
.jvectormap-container{
	height: 500px;
}
body{
	background-color: rgb(80, 80, 80);
};
.jumbotron{
	color: red !important;
}
.element{
	position: relative;
	top: 20px;
	width: 100%;
	height: 420px;
	background-color: white;
	z-index: 1;
}
.motivational{
	position: relative;
	width: 100%;
	height: 60px;
	background-color: lightgrey;
	z-index: 2;
}
#quote{
	position: relative;
	top: 10px;
	color: black;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
}